#headline {
    -fx-padding: 30, 60;
}

.root-box {
    -fx-background-image: url("img/sporkle.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-color: #1C0A56;
    -fx-alignment: top-center;
    -fx-spacing: 30;
}

.title-box {
    -fx-alignment: center;
    -fx-padding: 50 0 0 0;
}

.button {
    -fx-text-fill: #F7B253;
    -fx-border-color: #210389;
    -fx-background-color: #622988;
}

.button-box {
    -fx-padding: 100 0 0 0;
    -fx-alignment: center;
    -fx-spacing: 40;
}

.grid-pane {
    -fx-alignment: center;
    -fx-vgap: 10;
    -fx-hgap: 10;
}

.root-pane {
    -fx-background-color: #1C0A56;
    -fx-background-image: url("img/sporkle.jpg");
    -fx-background-repeat: no-repeat;
}

.snake-title {
    -fx-alignment: top-center;
    -fx-text-fill: #F7B253;
    -fx-padding: 30 0 0 50;
}